table {
	width: 360px;
	border-collapse: collapse;
}

tr {
	text-align: right;
}

td {
	padding-top: 10px;
	padding-bottom: 10px;
}

.form-div {
	width: 400px;
	border: 1px solid #708399;
}

.saving-div {
	background: #708399;
	color: white;
}