.header {
	background: #33629a;
	color: white;
	margin-bottom: 10px;
}

.add-button {
	margin-bottom: 50px;
	font-size: 30px;
	font-weight: bold;
	padding: 30px 0;
}

th {
	text-align: center;
	vertical-align: middle !important;
}